/** Blanket Statements **/
.float-right {
  float: right!important;
}

.squash {
  margin: 0 100px;
}
.button {
    background-color: #69eae6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12.5pt;
    box-shadow: 0px 5px #4ba3a0;
    border-radius: 5px;
}
.button:hover {
  text-decoration: none;
  color: white;
  background-color: #60D6D3;
}
.button:active {
  text-decoration: none;
  color: white;
  background-color: #4ba3a0;
  transform: translateY(5px);
}
.button:visited {
  text-decoration: none;
  color: white;
}
.col {
  width: 33%;
  display: inline-block;
}
.buttonSkill {
  background-color: Transparent;
  outline:none;
  border: none;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
/** Header **/
header {
  min-height: 60px;
  background-color: rgba(0,0,0,0.2);
  padding: 0 15%;
  color: white;
}

header p {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: bold;
  font-size: 17.5pt;
  line-height: 60px;
  text-shadow: 2px 2px 1px black;
}

header .header-icon-container {
  padding-top: 10px;
}

header .header-icon {
  float: right;
  font-size: 40px;
}

header a {
  text-decoration: none;
  color: white;
  transition: color 0.1s ease;
}

header a:visited {
  color: white
}

header a:hover {
  color: grey;
}
/** Hero ***/
.heroBg {
  background: black url("../images/heroBg.png") no-repeat left top;
  background-size: cover;
}
.hero {
  padding: 320px 0 260px 0;
  text-align: center;
  color: white;
}
.hero h2 {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: bold;
  font-size: 70pt;
}
.hero p {
  font-family: 'Bree Serif', serif;
  font-size: 20pt;
}
/** About **/
.aboutBg {
  background-color: #222222;
}
.about {
  padding: 50px 0;
  color: white;
  text-align: center;
}
.aboutContainer {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.about h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 45pt;
}
.about-sub-heading {
  padding-top: 10px;
  font-family: 'Bree Serif', serif;
  font-size: 20pt;
}
.about-info {
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
}
.skills img {
  max-width:75px;
}
.formatInfo {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}
.skillTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
}
.skillSubTitle {
  font-family: 'Bree Serif', serif;
  font-size: 10pt;
  opacity: 0.5;
  font-style: italic;
}
.skills {
  margin-bottom: 25px;
}
.skill-row {
  margin-bottom: 20px;
  background-color: none;
}
/** Work **/
.workBg {
  background: black url("../images/workBg.png") no-repeat left center;
  background-size: cover;
  height: 800px;
}
.workTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}
.workSubTitle {
  font-family: 'Bree Serif', serif;
  font-size: 10pt;
  font-style: italic;
  padding-bottom: 50px;
}
.topSquash {
  padding-top: 75px;
}
.work h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 70pt;
  color: white;
  text-align: center;
  margin: 175px 0 75px 0;
}
.work p {
  color: white;
  text-align: center;
  margin: 0;
}
.work img {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
/** Footer **/
.footerBg {
  background-color: #222222;
}
.footer {
    margin: 40px 200px 10px 200px;
    min-height: 75px;
}
.footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: white;
  line-height: 75px;
}

.heart-icon {
  color: red;
}
/** TABLET RESPONSIVE **/
@media only screen and (max-width: 970px) and (min-width: 769px)  {
  /** HEAD **/
  .head h1 {
    font-size: 25pt;
      line-height: 30px;
  }
  .design {
    font-size: 20pt;
  }
  .head a {
    font-size: 12.5pt;
  }
  /** HERO **/
  .hero {
    padding: 250px 0 190px 0;
  }
  .hero h2 {
    font-size: 50pt;
  }
  .hero p {
    font-size: 15pt;
  }
  /** ABOUT **/
  .about h3 {
    font-size: 40pt;
  }
  .subHeading {
    font-size: 17.5pt;
  }
  .info {
    font-size: 14pt;
  }
  .formatInfo {
    font-size: 11pt;
  }
  .skillTitle {
    font-size: 15pt;
  }
  .skillSubTitle {
    font-size: 10pt;
  }
  /** WORK **/
  .work h4 {
    font-size: 50pt;
      margin-top: 100px;
  }
  .workBg {
    height: 650px;
  }
  /** CONTACT **/
  .contact h5 {
    font-size: 50pt;
  }
  .contact p {
    font-size: 17.5pt;
  }
}
/** PHONE RESPONSIVE **/
@media only screen and (max-width: 768px)  {
  /** BLANKET STATEMENTS **/
  .squash {
    margin: 0 0;
  }
  .button {
    font-size: 10pt;
  }
  /** HEAD **/
  .head h1 {
    font-size: 25pt;
    line-height: 30px;
    text-align: center;
  }
  .design {
    font-size: 20pt;
    letter-spacing: 10px;
  }
  .head ul {
    float: none;
    text-align: center;
    padding: 15px 0 5px 0;
  }
  .head a {
    font-size: 13pt;
  }
  header .header-icon {
    float:none!important;
  }
  /** HERO **/
  .hero {
    padding: 100px 0 100px 0;
  }
  .hero h2 {
    font-size: 30pt;
  }
  .hero p {
    font-size: 13pt;
  }
  /** ABOUT **/
  .aboutContainer {
    width: 90%;
  }
  .about {
    padding: 25px 0;
  }
  .about h3 {
    font-size: 30pt;
  }
  .subHeading {
    font-size: 15pt;
  }
  .info {
    font-size: 11pt;
  }
  .formatInfo {
    font-size: 10pt;
  }
  .skillTitle {
    font-size: 13pt;
  }
  .skillSubTitle {
    font-size: 10pt;
  }
  .skills img {
    max-width:60px;
  }
  /** WORK **/
  .work h4 {
    font-size: 30pt;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .workBg {
    height: 100%;
  }
  /** CONTACT **/
  .contact h5 {
    font-size: 30pt;
  }
  .contact p {
    font-size: 15pt;
  }
  /** FOOTER **/
  .footer {
      margin: 40px 0 10px 0;
  }
  .footer a {
    float: none;
  }
  .footer {
    text-align: center;
    margin-bottom: 25px;
  }
  .back-to-top-button {
    float: none!important;
  }
}
